asgiref==3.5.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.10
dj-database-url==0.5.0
Django==3.2.4
django-dotenv==1.4.2
django-heroku==0.0.0
django-on-heroku==1.1.2
ecdsa==0.17.0
gunicorn==19.7.1
idna==3.3
jose==1.0.0
psycopg2-binary==2.9.3
pyasn1==0.4.8
python-jose==3.3.0
pytz==2021.1
requests==2.26.0
rsa==4.8
sawo==1.2.2
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
urllib3==1.26.8
whitenoise==5.3.0
